{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block body %}
<h1>Добро пожаловать на сайт картинга!</h1>

<img src="https://sun1-27.userapi.com/s/v1/ig2/gGaZ22W-vFx7jYBz4_tbKWO1lXL6XWddBJDH6cU-wN4aUnvgPMIB4XrVvo55zO-AQaVlN6jdGPuLb6Y7TyYw9gxp.jpg?quality=96&as=32x30,48x45,72x67,108x101,160x149,240x223,360x335,480x447,540x503,640x596,720x670,1080x1005,1242x1156&from=bu&u=TzlUG75jz6_Y52MsnzrrfarmLAc3RG0M5rxQIt_EQmY&cs=807x751"
     alt="Картинг" class="main-photo">

<p>Здесь вы можете забронировать свои любимые карты и наслаждаться гонками!</p>
{% endblock %}
